# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar
*.tar.gz
*.rar
.gradle
.idea/
.vscode/
*.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/local/
explore/.idea/
explore/out/
spark-warehouse/

.classpath
.project
.settings
.java-version
.vscode
*.code-workspace
bin
build
classes

# mac fs files
.DS_Store

# out folders
*/out
.cache-*

# intellij files
voicezen-app.ipr
voicezen-app.iws

# class file locations
target

# docker files
/docker-compose.yml
/*-dc.yml
